.PP5-general-container {

	display: grid;
	grid-template-rows: 14% 86%;
	grid-template-areas: "powers-menu"
						 "action-area"
						 ;

	overflow: auto;

}



.PP5-powers-menu-bar-container {

	grid-area: powers-menu;


}



.PP5-general-action-area-container {

	grid-area: action-area;

	display: flex;
	justify-content: center;
	align-items: center;

	flex-wrap: wrap;

	overflow-y: auto;

	font-size: 135%;

	min-height: 175px;

	padding-left: 3%;
	padding-right: 3%;


}


.PP5-margin-left {

	margin-left: 10px !important;
	
}
