
.generic-action-box-container {

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	overflow-y: auto;

	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;

}


.generic-action-box-container button {

	min-height: 36px !important;
	min-width: 70px !important;

}


.generic-action-box-text-container {


	display: flex;

	overflow-y: auto;

	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 15px;
	padding-right: 15px;

	margin-bottom: 3%;

	font-size: 150%;

	min-height: 80px !important;

}

.generic-action-box-text-container span {

	margin: auto;

}



