.have-voted-on-mission-container {

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 140%;

	overflow-y: auto;

	padding-left: 3%;
	padding-right: 3%;

}


.PP6-general-container {

	display: grid;
	grid-template-rows: 14% 86%;
	grid-template-areas: "powers-menu"
						 "action-area"
						 ;

	overflow: auto;

}

.PP6-powers-menu-bar-container {

	grid-area: powers-menu;

}


.PP6-general-action-area-container {

	grid-area: action-area;

	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;

	flex-wrap: wrap;

	overflow-y: auto;

	font-size: 135%;

	min-height: 175px;

	padding-left: 3%;
	padding-right: 3%;

}


.PP6-general-action-area-container select {

	margin-right: 7px;

}



/*Has ability Acronym in power bar and full ability
name within action area */

.PP6-general-action-area-with-title-container {

	grid-area: action-area;

	display: grid;

	grid-template-rows: 40% 60%;
	grid-template-areas: "powers-title"
						 "powers-buttons"
						 ;


}


.PP6-Power-Title-Div {

	grid-area: powers-title;

	display: flex;
	justify-content: center;
	align-items: flex-start;

	font-size: 150%;

	padding-top: 5%;

}

.PP6-Power-Buttons-Div {

	grid-area: powers-buttons;

	display: flex;
	justify-content: center;
	align-items: flex-start;
	
}


.PP6-Power-Buttons-Div select {

	margin-right: 5px;
	
}




/*For Princess Only */
.PP6-Princess-general-action-area-container {

	grid-area: action-area;

	display: grid;

	grid-template-rows: 40% 60%;
	grid-template-areas: "powers-title"
						 "powers-buttons"
						 ;


}


.PP6-Princess-Power-Title-Div {

	grid-area: powers-title;

	display: flex;
	justify-content: center;
	align-items: flex-start;

	font-size: 150%;

	padding-top: 5%;

}

.PP6-Princess-Power-Buttons-Div {

	grid-area: powers-buttons;

	display: flex;
	justify-content: center;
	align-items: flex-start;
	
}


.PP6-Princess-Power-Buttons-Div select {

	margin-right: 5px;
	
}


/*For Oracle */

.full-width-empty-div {

	margin-top: 3%;
	width: 100% !important;
}

.text-area-container {

	height: 30%;

}