.PP1-No-Power-Container {


	display: grid;
	grid-template-rows: 14% 86%;
	grid-template-areas: "powers-menu"
						 "action-area"
						 ;

	overflow: auto;

}


.PP1-no-power-text-div {

	grid-area: action-area;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	min-height: 200px;

	overflow: auto;

	padding-left: 2%;
	padding-right: 2%;

	font-size: 120%;

}