

.villain-guess-princess-container {

	display: grid;

	grid-template-rows: 40% 60%;
	grid-template-areas: "guess-text"
						 "guess-buttons"
						 ;

}


.villain-guess-princess-text-container {

	grid-area: guess-text;

	display: flex;
	align-items: center;

	font-size: 133%;

	padding-right: 2%;
	padding-left: 2%;
}


.villain-guess-princess-buttons-container {

	grid-area: guess-buttons;

	display: flex;
	justify-content: center;
	align-items: flex-start;

	margin-top: 3%;

}



.villain-guess-princess-buttons-container select {
	margin-right: 2.5%;
}


.submitted-princess-guess-text-container {

	display: flex;
	justify-content: center;
	align-items: center;

	overflow: auto;

	font-size: 150%;

	padding-left: 2%;
	padding-right: 2%;

}



.wait-while-villains-guess-princess-container {

	display: flex;
	justify-content: center;
	align-items: center;

	overflow-y: auto;

	padding-left: 2%;
	padding-right: 2%;

	font-size: 150%;
	word-wrap: break-word;


}