
.flexinput {

	flex: 0.1 1 auto;

	display: flex;

	overflow: auto;
	max-height: 10% !important;

}


.flexinput textarea {

	flex: 3 1 auto;



}


.flexinput button {

	flex: 1 1 auto;
	max-width: 30%;

	margin-right: 1px !important;


}