.menu-bar-container {

	grid-area: menu-bar;
	overflow-x: auto;

	border-bottom: 2px solid white !important;

}

.menu-button {

	border-right: 2px solid white !important;
}


.menu-purple {

	background-color: #a332c8 !important;

}

.menu-orange {

	background-color: #f56f1e !important;

}


.menu-red {

	background-color: #dc2829 !important;

}