.vote-on-team-container {

	display: grid;
	grid-template-rows: 1fr 1fr;

	grid-template-areas: "instructions"
						 "vote-buttons"

}


.vote-on-team-instruction {

	grid-area: instructions;

	display: flex;
	justify-content: center;
	

	font-size: 133%;
	overflow-y: auto;

	padding-top: 4%;
	padding-left: 1.5%;
	padding-right: 1.5%;

}

.vote-on-team-button-container {

	grid-area: vote-buttons;

	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;

	overflow-y: auto;

	padding-bottom: 1%;

}


.submitted-team-vote-container {

	display: flex;
	justify-content: center;
	align-items: center;

	overflow-y: auto;

	font-size: 140%;

	padding-left: 3%;
	padding-right: 3%;

}




.vote-on-team-container-umbra-lord {

	display: grid;
	grid-template-rows: 40% 30% 30%;

	grid-template-areas: "instructions"
						 "vote-buttons"
						 "vote-buttons-absolute"
						 ;
	
}


.vote-on-team-button-container-ul {

	grid-area: vote-buttons;

	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;

	padding-bottom: 1%;

}


.vote-on-team-button-container-absolute {

	grid-area: vote-buttons-absolute;

	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;

	padding-bottom: 3%;
	margin-top: 9px;

}


.vote-on-team-button-container-ul button {

	margin-top: 5px !important;

}


.vote-on-team-button-container-absolute button {

	margin-top: 5px !important;

}

