.view-mission-results-container {

	display: grid;
	grid-template-columns: 72% 28%;
	grid-template-areas: "table next-mission-button"
						 ;
	overflow: auto;
}


.view-mission-results-table-container {

	grid-area: table;

	display: flex;


	overflow-y: auto;

	padding-top: 3%;
	padding-bottom: 3%;
	

}


.view-mission-results-table-container table {

	max-width: 90% !important;

	margin: auto !important;

}


.table-style {

	background-color: #f2711c !important;
	color: white !important;
	font-weight: bold;

}


.next-mission-button-container {

	display: flex;

	overflow-y: auto;

	padding-left: 14px;
	padding-right: 14px;

}

.next-mission-button-container span {

	margin: auto;

	font-size: 135%;

}



.next-mission-button-container button {

	margin: auto !important;

}



