
/*gridArea & display is in-line in PowersInfoBox.js */
.rules-and-info-box-container {

	grid-template-rows: 7% auto;

	grid-template-areas: "power-menu-bar"
						 "info"
						 ;

	flex-direction: column;

	overflow-x: auto;
	overflow-y: auto;


	background-color:rgba(255, 255, 255, 0.5);


}


.rules-and-info-menu {

	grid-area: power-menu-bar;

	position: fixed;
	
	height: 6%;

	border-top: 1.5px solid white !important;

}

